
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

html {
  overflow-x: hidden;
}

body {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, button, Link, li {
  font-weight: 700;
  font-family: "Lato", serif;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Lato", serif;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Lato", serif;
}